.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.list-move {
  transition: transform 1s;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
  position: absolute;
  width: 100%;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-bounce-move {
  transition: transform 1s;
}
.list-bounce-enter-active, .list-bounce-leave-active {
  position: absolute;
  width: 100%;
}
.list-bounce-enter-active {
  animation: bounce-in .5s;
}
.list-bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

